<main>
            <div class="jumbotron p-4 p-md-5 text-black rounded bg-gray">
                <div class="col-md-6 px-0">
                    <h1 class="display-4 font-italic">About Me</h1>
                    <p class="lead my-3">I am an engineer for computer engineering and came to Germany from Syria in 2015 because of the war in my home country. <br> I completed my computer science studies in Syria in 2014 with a bachelor's degree. I would like to prove to
                        you the knowledge of the programming languages acquired during my studies, also as part of a previous internship. <br> I took part in a certificate course at BTU-Cottbus-Senftenberg as part of the qualification measure for academics
                        with foreign engineering titles. In addition to specialist seminars, I also attended an intensive language course on work-related German B2, which I completed with level B2.I am now studying in the DCI as part of the qualification
                        measure to learn and experience web development.</p>
                    <p class="lead mb-0"><a href="#" class="text-blue font-weight-bold">Continue reading...</a></p>
                </div>
            </div>
            <!-- news -->




        </main>